{% extends 'base.html.twig' %}

{% block title %}Formulaire de modification d'un restaurant Wacdo{% endblock %}

{% block metadescription %}
    
{% endblock %}

{% block stylesheets %}
    
{% endblock %}

{% block body %}

<header class="flex">
    <div class="logo_wacdo flex container">
        <div>
            <img src="{{asset('images/logo.png')}}" alt="logo wacdo">
            <a href="{{path('app_logout')}}" title="déconnexion"><button>Se déconnecter</button></a>
        </div>
        <a href="{{path('detail_restaurant', {'id' : restaurant.id})}}" title="Retour au détail du restaurant"><button>Retour</button></a>
    </div>
</header>

    <h1>Mise à jour du restaurant</h1>
    
    <div class="container">
        {{ form_start(form,{attr:{'novalidate':'novalidate'}}) }}

            {{ form_label(form.nom) }} <br>
            {{ form_widget(form.nom) }}
            {{ form_errors(form.nom) }}
            <br><br>
            {{ form_label(form.adresse) }} <br>
            {{ form_widget(form.adresse) }}
            {{ form_errors(form.adresse) }}
            <br><br>
            {{ form_label(form.codePostal) }} <br>
            {{ form_widget(form.codePostal) }}
            {{ form_errors(form.codePostal) }}
            <br><br>
            {{ form_label(form.ville) }} <br>
            {{ form_widget(form.ville) }}
            {{ form_errors(form.ville) }}
            <br><br>
            
            <br><br>
            <button type="submit">Mettre à jour le restaurant</button>

        {{ form_end(form) }}
    </div>

{% endblock %}