{% extends 'base.html.twig' %}

{% block title %}Gestion des postes Wacdo{% endblock %}

{% block metadescription %}
    
{% endblock %}

{% block stylesheets %}
    
{% endblock %}

{% block body %}

    <header class="flex">
        <div class="logo_wacdo flex container">
            <div>
            <img src="{{asset('images/logo.png')}}" alt="logo wacdo">
            <a href="{{path('app_logout')}}" title="déconnexion"><button>Se déconnecter</button></a>
        </div>
            <a href="{{path('app_app')}}"><button>Retour</button></a>
        </div>
    </header>

    <h1>Liste des postes</h1>

    <div class="container">
        <a href="{{path('fonction_creation')}}" title="Ajouter un poste"><button>Ajouter un nouveau poste</button></a>
    </div>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Libellé</th>
                    <th>Edition</th>
                </tr>

            </thead>
            <tbody>
                {% for fonction in fonctions %}
                    <tr>
                        <td> {{fonction.libelle}} </td>
                        <td><a href="{{path('fonction_edition', {'id' : fonction.id})}}" title="Editer le poste">Editer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
