{% extends 'base.html.twig' %}

{% block title %}Gestion des collaborateurs Wacdo{% endblock %}

{% block metadescription %}
{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{asset('css/listeCollab.css')}}">
    
{% endblock %}

{% block body %}

<header class="flex">
    <div class="logo_wacdo flex container">
        <div>
            <img src="{{asset('images/logo.png')}}" alt="logo wacdo">
            <a href="{{path('app_logout')}}" title="déconnexion"><button>Se déconnecter</button></a>
        </div>
        <a href="{{path('app_app')}}" title="Retour à l'accueil"><button>Retour</button></a>
    </div>
</header>

<h1>Liste des collaborateurs</h1>

<div class="form_recherche_collab container">
    <form action=" {{path('app_collaborateur')}} " method="post" class="flex">
        <input type="search" name="search" id="search">
        <input type="submit" value="rechercher">
    </form>
</div>

<div class="lien_non_affecter container">
    <a href="{{path('collaborateur_non_affecter')}}" title="Liste des employés sans affactation"><button>Employés sans affectation</button></a>
    <a href="{{path('add_collaborateur')}}" title="Nouveau collaborateur"><button>Nouveau collaborateur</button></a>
</div>

<div class="list_collab container">
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Mail</th>
                <th>Date d'embauche</th>
                <th>Fiche employé</th>
            </tr>
        </thead>
        <tbody>
            {% include "collaborateur/_tBodyListe.html.twig" %}
        </tbody>
    </table>
</div>

{% endblock %}
